name: zipper
on:
  push:
    tags: ['v*']
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      LATEST_NAME: "latest"
    steps:
      - name: checkout
        id: checkout
        uses: actions/checkout@v4
      - name: set env
        id: set_env
        run: |
          REPO_NAME=${GITHUB_REPOSITORY#*/}
          REPO_VERSION=$GITHUB_REF_NAME
          echo "REPOSITORY_NAME=$REPO_NAME" >> $GITHUB_ENV
          echo "REPOSITORY_VERSION=$REPO_VERSION" >> $GITHUB_ENV
          echo "FILE_NAME=$REPO_NAME-$REPO_VERSION" >> $GITHUB_ENV
      - name: zip
        id: zip
        run: |
          [ -f "$FILE_NAME.zip" ] && rm "$FILE_NAME.zip"
          zip -r "$FILE_NAME.zip" ./ -x ".github/*" ".git/*"
      - name: create version-release
        id: create_version-release
        uses: actions/create-release@v1
        with:
          tag_name: ${{env.REPOSITORY_VERSION}}
          release_name: ${{env.REPOSITORY_VERSION}}
      - name: upload version-release
        id: upload_version-release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{steps.create_version-release.outputs.upload_url}}
          asset_path: ${{env.FILE_NAME}}.zip
          asset_name: ${{env.FILE_NAME}}.zip
          asset_content_type: application/zip
      - name: latest-release create or get
        id: latest-release_create_or_get
        run: |
          UPLOAD_URL=$(gh release view "${{env.LATEST_NAME}}" --json uploadUrl -q .uploadUrl 2>/dev/null || true)
          if [ -z $UPLOAD_URL ]
          then
            gh release create ${{env.LATEST_NAME}}
            UPLOAD_URL=$(gh release view "${{env.LATEST_NAME}}" --json uploadUrl -q .uploadUrl)
          fi
          echo "UPLOAD_URL=${UPLOAD_URL//$'\n'/}" >> $GITHUB_ENV
      - name: latest-release upload
        id: latest-release_upload
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{env.UPLOAD_URL}}
          asset_path: ${{env.FILE_NAME}}.zip
          asset_name: ${{env.REPOSITORY_NAME}}-${{env.LATEST_NAME}}.zip
          asset_content_type: application/zip